<h1>Meetups</h1>
  <ul>
    <%@meetups.each do |meetup| %>
      <li>
        <h2 class='meetup_name'><a href='/meetups/show/<%=meetup.id%>'><%=meetup.name%></a></h2>
        <p><%=meetup.description%></p>
      </li>
    <%end%>
  </ul>
<% if current_user %>
  <h1><a href='/new'>Add New<a/></h1>
<%end%>
