<h1>Show Contact Info</h1>

<ul>
  <li><h2><%=@contact.name %><h2></li>
    <li><p>First Name: <%=@contact.first_name%></p></li>
    <li><p>Last Name: <%=@contact.last_name%></p></li>
    <li><p>Phone Number: <%=@contact.phone_number%></p></li>
</ul>
